<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->

    <link rel="stylesheet" href="../static/css/email_check.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

    <title>email_check</title>
</head>

<body>
    <section id="banner">
        <div class="container">
            <div class="row inner">
                <div>
                    <h2 style="color: #fff;">Email Check</h2>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="text">
            <br>
            <h5 style="text-align: center;">We have already sent you a email for account confirmation. <br> Please check
                your mailbox and activate your account.</h5>
        </div>
    </div>

    <!-- <footer id="footer">
        <div class="inner">
            <div class="row">
                <img src="../static/images/logo-no-background.png" id="icon" alt="WECOUPON LOGO" />
            </div>
            <h3>Should you have any question? Please contact us</h3>
        </div>
    </footer> -->
</body>

</html>