<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/teacher_main_page.css">
    <script src="../static/js/teacher_main_page.js"></script>
    <title>Teacher Main Page</title>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-2 text-start">
                <img src="../static/images/lyu.jpg" class="rounded-circle" alt="100x100">
            </div>
            <div class="col-4">
                <div class="row">
                    <p>Michael R. Lyu</p>
                </div>
                <div class="row">
                    <p>Computer Science and Engineering department</p>
                </div>
                <div class="row">
                    <p>Professor</p>
                </div>                
            </div>
            <div class="col">
                <button type="button" onclick="display_edit_profile()" class="btn btn-info">Edit Profile</button>
            </div>
            <div id="edit_profile" style="">
                <div style="width:500px;height:40px;">
                Edit Profile
                <hr>
                <form style=" margin-left: 100px;">
                Name：<input type="text" id="token" name=""><br>
                Department：<input type="text" id="token" name=""><br>
                Title：<input type="text" id="token" name=""><br>
                <input type="button" value="Save" onclick="edit_profile()">
                </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col text-end">
            <button type="button" class="btn btn-primary" onclick="display()">Add Class</button>
          </div>
          <div id="contes" style="">
            <div style="width:500px;height:40px;">
            Add New Course
            <hr>
            <form style=" margin-left: 100px;">
            course code：<input type="text" id="code" name="" ><br>
            course name：<input type="text" id="name" name="" ><br>
            course instructor：<input type="text" id="instructor" name="" ><br>
            course token：<input type="text" id="token" name=""><br>
            <input type="button" value="submit" onclick="teacher_add_class()">
            </form>
            </div>
           </div>
        </div>
        <div class="row">

        </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Course Code</th>
                <th scope="col">Course Title</th>
                <th scope="col">Info</th>
              </tr>
            </thead>
            <tbody>
{#              <tr>#}
{#                <!-- Hyperlink needed to add here later -->#}
{#                <!--Needs to be modified-->#}
{#                <th scope="row"><a href="http://127.0.0.1:5000/student_within_course/CSCI3100">CSCI3100</a></th>#}
{#                <td>Mark</td>#}
{#                <td>Otto</td>#}
{#              </tr>#}
{#              <tr>#}
{#                <th scope="row"><a href="http://127.0.0.1:5000/student_within_course/CSCI3160">CSCI3160</a></th>#}
{#                <td>Jacob</td>#}
{#                <td>Thornton</td>#}
{#              </tr>#}
{#              <tr>#}
{#                <th scope="row"><a href="http://127.0.0.1:5000/student_within_course/CSCI3160">CSCI3170</a></th>#}
{#                <td colspan="2">Larry the Bird</td>#}
{#              </tr>#}
                {% for item in teach_info %}
                    <tr>
                        <th scope="row"><a href="../teacher_within_course/{{ item.course_id }}">{{ item.code }}</a></th>
                        <td>{{ item.title }}</td>
                        <td>{{ item.info }}</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>


</body>
<script src="../static/js/teacher_main_page.js"></script>
</html>
