<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->
  <link rel="stylesheet" href="../static/css/teacher_within_course.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>Teacher Within Course</title>
</head>

<body>
  <section id="banner">
    <div class="container">
      <div class="row inner">
        <!-- <div class="col-2 text-start">
              <img src="../static/images/student_pic.png" alt="student profile picture">
          </div> -->
        <div>
          <a href="{{ url_for('logout') }}" class="btn btn-outline-light btn-lg" style="float: right;">
            <span class="glyphicon glyphicon-log-out"></span> Log out
          </a>
        </div>
        <div class="col">

          <div id="contes" style="">
            <div style="width:500px;height:40px;">
              Reg New Course
              <hr>
              <form style=" margin-left: 100px;">
                course token：<input type="text" id="token" name=""><br>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>


  <br>

  <div class="container">
    <div class="row">
      <div class="col text-start">
        Course {{ classcode }}
        <a href="../teacher_main_page" class="button btn btn-primary" style="width:20%">Back</a>
      </div>
    </div>
  </div>
<br>
  <div class="container">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-question-tab" data-bs-toggle="pill" data-bs-target="#pills-question"
          type="button" role="tab" aria-controls="pills-question" aria-selected="true">Question</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-participation-tab" data-bs-toggle="pill"
          data-bs-target="#pills-participation" type="button" role="tab" aria-controls="pills-participation"
          aria-selected="false">Participation</button>
      </li>
    </ul>

    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-question" role="tabpanel" aria-labelledby="pills-question-tab">
        <div class="container">

          <div class="row">
            <div class="col-sm-6">
              <h3 class="boxtitle" style="background-color:lavender;">Question Bank</h3>

              <div>
                <a href="../teacher_collect_answer/default" class="button btn btn-primary" style="width:45%">Start a
                  default question</a>
                <a href="../teacher_add_question/{{ current_user.current_course_id }}" class="button btn btn-primary"
                  style="width:45%">Add a question</a>
              </div>

              <table class="table" id="qlist">
                <thead>
                  <tr>
                    <th scope="col" style="width:30%">Question Name</th>
                    <th scope="col" style="width:30%">Question Content</th>
                    <th scope="col" style="width:20%">Edit</th>
                    <th scope="col" style="width:20%">Start</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in new_question_list %}
                  <tr>
                    <td style="width:30%">{{ item["question_title"] }}</td>
                    <td style="width:30%">{{ item["question_type"] }}</td>
                    <td style="width:20%"><a href="../teacher_view_question/{{ item.question_id }}"
                        class="button btn btn-primary">Edit</a></td>
                    <td style="width:20%"><a href="../teacher_collect_answer/{{ item.question_id }}"
                        class="button btn btn-primary">Start</a></td>
                  </tr>


                  {% endfor %}
                </tbody>
              </table>

            </div>
            <div class="col-sm-6">
              <h3 class="boxtitle" style="background-color:lavenderblush;">Posted Questions</h3>
              <table class="table" id="qlist2">
                <thead>
                  <tr>
                    <th scope="col" style="width:40%">Question Name</th>
                    <th scope="col" style="width:30%">Question Type</th>
                    <th scope="col" style="width:30%">View</th>
                  </tr>
                </thead>
                <tbody>


                  {% for item in old_question_list %}
                  <tr>
                    <td style="width:40%">{{ item["question_title"] }}</td>
                    <td style="width:30%">{{ item["question_type"] }}</td>
                    <td style="width:30%"><a href="../teacher_view_answer/{{ item.question_id }}"
                        class="button btn btn-primary">View</a></td>

                  </tr>
                  {% endfor %}


                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>

      <div class="tab-pane fade" id="pills-participation" role="tabpanel" aria-labelledby="pills-participation-tab">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" style="width:30%">Student ID</th>
              <th scope="col" style="width:30%">Student Name</th>
              <th scope="col" style="width:10%">Attempt</th>
              <th scope="col" style="width:10%">Coupon Rewarded</th>
              <th scope="col" style="width:10%">Coupon Used</th>
              <th scope="col" style="width:10%">Use Coupon</th>
            </tr>
          </thead>
          <tbody id="participationList">
            {% for item in participation_list %}
            <tr>
              <td style="width:30%">{{ item["student_id"] }}</td>
              <td style="width:30%">{{ item["student_name"] }}</td>
              <td style="width:10%">{{ item["attempt"] }}</td>
              <td style="width:10%">{{ item["coupon_rewarded"] }}</td>
              <td style="width:10%">{{ item["coupon_used"] }}</td>

              <td><input type="button" id="{{ item['student_id'] }}" class="btn btn-success" value="Use"
                  onclick="useCoupon('{{ current_user.user_id }}', '{{ current_user.current_course_id }}' )"></input>
              </td>

              <script>
                if ({{ item['coupon_rewarded'] }} - {{ item["coupon_used"] }} === 0) {
                  document.getElementById('{{item['student_id']}}').setAttribute("value", "N/A");
                  document.getElementById('{{item['student_id']}}').setAttribute("onclick", "");
                  document.getElementById('{{item['student_id']}}').setAttribute("class", "btn btn-warning");
                }
              </script>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">3</div>
    </div>
  </div>

  <footer id="footer">
    <div class="inner">
      <div class="row">
        <img src="../static/images/logo-no-background.png" id="icon" alt="WECOUPON LOGO" />
      </div>
      <h3>Should you have any question? Please contact us</h3>
    </div>
  </footer>
</body>

<script src="../static/js/teacher_within_course.js"></script>

</html>